mixin section-2()
	+b.section-2&attributes(attributes)
		block

section.section-2
	.def-w
		h2.section-title чем мы лучше других?
			span мы дарим пакеты связи
		p.section-p Скачай приложение Атлас, оформи получение SIM-карты и начни <br/>пользоваться услугами связи сразу после ее активации. Каждый месяц <br/>мы будем дарить тебе один пакет бесплатной связи!

		div.section-2-table-block
			img.section-2-img-f(src='./section-2/150.png')
			div.section-2-table
				div.section-2-table-l
					div.section-2-table-t Мобильный интернет
					div.section-2-table-t Исходящие звонки
					div.section-2-table-t Исходящие SMS

				div.section-2-table-r
					div.section-2-table-t 750 Мбайт
					div.section-2-table-t 50 минут
					div.section-2-table-t 150

				div.section-2-table-f
					div.section-2-table-l
						div.section-2-table-t Срок действия

					div.section-2-table-r
						div.section-2-table-t 1 месяц

