mixin section-4()
	+b.section-4&attributes(attributes)
		block
section.section-4
	.def-w
		h2.section-title где получить sim-карту?
			span приходи в афимолл
		div.section-4-two-col
			p.section-p Заполни <a href='/' class='section-3-link'>анкету на получение</a> прямо сейчас <br/>или приходи с паспортом на точку выдачи и <br/>получишь SIM-карту на месте.

			p.section-p Точка выдачи находится на 1 этаже ТРК <br/>АФИМОЛЛ Сити, около кофейни STARBUCKS, <br/>между магазинами ЦУМ Дисконт и H&M. Если <br/>ты потерялся и не можешь найти нас, позвони <br/>по номеру +7 958 132 41 42 и мы поможем!

			p.section-p Мы работаем без выходных с 10:00 до 22:00.
