.section-4
	display block
	background-color #0d2b41
	padding 120px 0 250px 0
	background-image url('../../section-4/map.png')
	background-position right center
	background-repeat no-repeat

	.section-3-link
		font-size: 18px

	+below(800px)
		padding: 40px 0 250px 0
	+below(1100px)
		background-position: right 93%;
