mixin section-3()
	+b.section-3&attributes(attributes)
		block
section.section-3
	.def-w
		h2.section-title что еще хорошего?
			span абонентской платы нет
		p.section-p Мобильная связь в Атласе предоставляется по пакетам, которые ты <br/>можешь активировать внутри приложения за атласы.

		p.section-p Пакетов у нас 5 на все случаи жизни: и поболтать, и поработать, и кино <br/>посмотреть.

		a.section-3-link(href='/') Посмотреть все пакеты

		p.section-p Абонентской платы, кстати, у нас нет. Ежемесячных платежей, платных <br/>подписок и «случайно подключенных услуг» — тоже нет.

		p.section-p В минус уйти невозможно. <br/>Повторяем, в минус уйти не-воз-мож-но.
