.section-3
	display block
	background-color #0f3049
	padding 160px 0 165px 0
.section-3-link
	color #ffc312
	font-family IntroSemi
	font-size 22px
	text-decoration underline
	&:hover
		text-decoration: none
