@font-face
	font-family: 'IntroBlack'
	src: url('../../fonts/Intro-Black.eot')
	src: url('../../fonts/Intro-Black.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Intro-Black.woff') format('woff'),
		url('../../fonts/Intro-Black.ttf') format('truetype');
	font-weight: 900
	font-style: normal;

@font-face
	font-family: 'IntroSemi'
	src: url('../../fonts/Intro-SemiBold.eot')
	src: url('../../fonts/Intro-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Intro-SemiBold.woff') format('woff'),
		url('../../fonts/Intro-SemiBold.ttf') format('truetype')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'IntroRegulsr'
	src: url('../../fonts/Intro-Regular.eot')
	src: url('../../fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Intro-Regular.woff') format('woff'),
		url('../../fonts/Intro-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'IntroBlackCaps'
	src: url('../../fonts/Intro-BlackCaps.eot')
	src: url('../../fonts/Intro-BlackCaps.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Intro-BlackCaps.woff') format('woff'),
		url('../../fonts/Intro-BlackCaps.ttf') format('truetype')
	font-weight: 900
	font-style: normal

@font-face
	font-family: 'IntroBold'
	src: url('../../fonts/Intro-Bold.eot')
	src: url('../../fonts/Intro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Intro-Bold.woff') format('woff'),
		url('../../fonts/Intro-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal
