.section-1
	display block
	background-image url('../../section-1/header-bg-copy-2.png')
	background-position center
	background-repeat no-repeat
	background-size cover
	padding: 75px 0 40px 0
	+below(800px)
		padding: 40px 0 40px 0
	.f-style-a
		margin 50px 0 40px 0
		+below(800px)
			font-size: 44px;
	.logo-atlas
		margin-top 150px
.f-style-a
	font-family IntroBlackCaps
	color #fff
	font-size 50px
	text-transform uppercase
.download-button
	font-family IntroBlackCaps
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
	border-radius 36px
	background-color rgba(253, 88, 0, 1)
	color #ffffff
	font-size 19px
	font-weight 900
	padding 13px 28px 13px 28px
	text-decoration: none
	transition: all .25s ease
	display: inline-block
	&:hover
		background-color rgba(253, 88, 0, .8)

.fixed-button
	z-index 1
	&.hasScrolled
		position: fixed
		left: 50%
		margin-left -144px
		bottom 40px
	+below(800px)
		position: relative
		left 0
		bottom: 0
		margin-left 0

br
	+below(800px)
		display: none
