mixin section-1()
	+b.section-1&attributes(attributes)
		block
section.section-1.center-els
	img(src='./section-1/sim-card.png')

	h1.f-style-a получи sim-карту </br> и мобильную связь  </br>в подарок

	div.db.fixed-button
		a.download-button(href='https://play.google.com/store/apps/details?id=com.rusve.atlas', target='_black', onClick="fbq('track', 'LEAD')") скачать приложение

	img.logo-atlas(src='./section-1/logo_big.png')
