.section-1
	display block
	background-image url('../../section-1/header-bg-copy-2.png')
	padding: 75px 0 40px 0
	.f-style-a
		margin 50px 0 40px 0

.f-style-a
	font-family IntroBlackCaps
	color #fff
	font-size 50px
	text-transform uppercase

.download-button
	font-family IntroBlackCaps
	width 290px
	height 48px
	box-shadow 0 2px 5px rgba(0, 0, 0, 0.3)
	border-radius 36px
	background-color #fd5800
	color #ffffff
	font-size 19px
	font-weight 900
