mixin footer()
	+b.footer&attributes(attributes)
		block
footer.footer.center-els
	.footer-socials
		a(href='/').footer-icon.fb
		a(href='/').footer-icon.vk
		a(href='/').footer-icon.tel

	.footer-links
		a(href='/').footer-link Для прессы
		a(href='/').footer-link Для партнеров
		a(href='/').footer-link FAQ
		a(href='/').footer-link Пользовательское соглашение
