.section-5
	display block
	background-color #ffffff
	padding 90px 0 110px 0
	+below(800px)
		padding: 40px 0 40px 0
	.section-title
		span
			color #202020
	.section-p
		color #202020
.block-download
	display: flex;
	margin-bottom 40px
	+below(800px)
		flex-direction column
		align-items: center;
	.download-link
		color #0c96fd
		font-family IntroBold
		font-size 22px
		font-weight 700
		text-decoration underline
		padding-left 78px
		padding-top: 10px
		padding-bottom: 10px
		max-width 240px
		align-items center

		&:hover
			text-decoration: none

		&-apple
			background-image url('../../section-5/appstore.png')
			background-repeat no-repeat
			background-position left center
			margin-right 47px
		+below(800px)
			margin-right 0

		&-play
			background-image url('../../section-5/playmarket.png')
			background-repeat no-repeat
			background-position left center

.section-5-form-label
	border-bottom 2px solid rgba(32, 32, 32, 0.10)
	color #202020
	font-family IntroSemi
	font-size 18px
	padding-bottom 5px
	margin-right 30px

.section-5-form-input
	font-family IntroSemi
	font-size 18px
	placeholder color rgba(32, 32, 32, 0.41)
	border 0
	outline 0
	padding-left 10px
	max-width 191px

.section-5-form-button
	border-radius 100px
	background-color #001b2a
	border 0
	outline 0
	color #ffffff
	font-family IntroBold
	font-size 16px
	text-shadow 0 2px 4px rgba(0, 0, 0, 0.5)
	padding 14px 28px 15px 28px
	opacity .2
	text-transform: uppercase
	+below(800px)
		margin-top 30px
.tac-mob
	+below(800px)
		text-align: center
